.hero {
  height: 600px !important;
  overflow: hidden;
}
.movies {
  background: #0c111b;
}
.movies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    background: #0c111b;
    margin-top: 20px;
    img {
      object-fit: cover;
      cursor: pointer;
    }
    img:hover {
      transform: translateY(-5px);
      transition: 0.2s ease all;
    }
    .card-title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }
    .card_year {
      color: var(--gray-400, #9ca3af);
      font-size: 12px;
      font-weight: 700;
      margin-top: 20px;
    }
    .card_category {
      color: var(--gray-400, #9ca3af);
      font-size: 12px;
      font-weight: 700;
      margin-top: 20px;
    }
    .card_rating {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      i {
        background: -moz-linear-gradient(top, #ffd700 0%, #ffe23d 100%);
        background: -webkit-linear-gradient(top, #ffd700 0%, #ffe23d 100%);
        background: linear-gradient(to bottom, #ffd700 0%, #ffe23d 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
      }
    }
    .button-29 {
      align-items: center;
      appearance: none;
      background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
      );
      border: 0;
      border-radius: 6px;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono", monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow 0.15s, transform 0.15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow, transform;
      font-size: 18px;
    }

    .button-29:focus {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }

    .button-29:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }

    .button-29:active {
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
    }
  }
}
footer {
  margin-top: -20px;
  padding: 50px 507px;
  background: #0c111b;
  .soc {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 36px;
    list-style-type: none;
    li {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
    }
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 37px;
  }
}
